/* * {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
} */

.h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10rem;
    margin-top: 4rem;
}
.app {
    border: black 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.app div {
    display: flex;
    justify-content: center;
}
.app div button {
    flex-basis: 2rem;
}
.fila5 button {
    flex: 1;
}